In [24]:
import pandas as pd

In [36]:
car_accidents_df = pd.read_csv("Resources/Accidents0515.csv")
car_accidents_df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

In [37]:
car_accidents_df.columns

Index(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location'],
      dtype='object')

In [38]:
print(f"Number of rows present in a dataset {len(car_accidents_df)}")
print(f"Number of columns present in a dataset {len(car_accidents_df.columns)}")

Number of rows present in a dataset 1780653
Number of columns present in a dataset 32

In [39]:
car_casualties_df.columns

Index(['Accident_Index', 'Vehicle_Reference', 'Casualty_Reference',
       'Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty',
       'Age_Band_of_Casualty', 'Casualty_Severity', 'Pedestrian_Location',
       'Pedestrian_Movement', 'Car_Passenger', 'Bus_or_Coach_Passenger',
       'Pedestrian_Road_Maintenance_Worker', 'Casualty_Type',
       'Casualty_Home_Area_Type'],
      dtype='object')

In [40]:
print(f"Number of rows present in a dataset {len(car_casualties_df)}")
print(f"Number of columns present in a dataset {len(car_casualties_df.columns)}")

Number of rows present in a dataset 1048575
Number of columns present in a dataset 15

In [51]:
### Loop the data lines
with open("Resources/Casualties0515.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
car_casualties_df = pd.read_csv("Resources/Casualties0515.csv", header=None, delimiter=",", names=column_names)

car_casualties_df.head()

C:\Users\HabibRehman\AppData\Local\Temp\ipykernel_11156\860775335.py:10: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  car_casualties_df = pd.read_csv("Resources/Casualties0515.csv", header=None, delimiter=",", names=column_names)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,NaN
1,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1,NaN
2,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1,NaN
3,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1,NaN
4,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1,NaN

In [52]:
### Loop the data lines
with open("Resources/Vehicles0515.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("Resources/Vehicles0515.csv", header=None, delimiter=",", names=column_names)

car_vehicles_df.head()

C:\Users\HabibRehman\AppData\Local\Temp\ipykernel_11156\2978318739.py:10: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Resources/Vehicles0515.csv", header=None, delimiter=",", names=column_names)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,NaN
1,200501BS00001,1,9,0,18,0,0,0,0,0,...,15,2,74,10,-1,-1,-1,7,1,NaN
2,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,42,7,8268,2,3,-1,-1,NaN
3,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,35,6,8300,2,5,2,1,NaN
4,200501BS00003,2,9,0,2,0,0,0,0,0,...,15,1,62,9,1762,1,6,1,1,NaN

In [44]:
car_vehicles_df.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22],
      dtype='int64')